<footer class="footer container" id="footer">
  <div class="footer--up">
    <div class="footer--up_call-us">
        {{>callus}}
      <div>
        <h3 class="footer--up_title">Call Us</h3>
        <p class="footer--up_number">+3 398 356 4793</p>
      </div>
    </div>

    <div class="footer--up_subs">
       {{>subscribe}}
      <div>
        <h3 class="footer--up_title">Subscribe Newsletter</h3>
        <p class="footer--up_sub-title">Sign up for weekly newsletter</p>
      </div>
    </div>

    <form class="footer--up_form">
      <input
        placeholder="Enter your email"
        class="footer--up_form-input"
        type="email"
      />
      <button class="footer--up_form-btn">Subscribe</button>
    </form>
  </div>

  <div class="footer--down">
    <div class="footer--down_logo">
      <img src="/img/OrgaFresh.png" alt="logo" />
      <p>Monday – Saturday: 8:00 am – 4:00pm</p>
      <p>Sunday: 9:00 am – 5:00pm</p>
    </div>

    <div class="footer--down_list-container">
      <h3 class="footer--down_title">Quick links</h3>
      <ul class="list footer--down_list">
        <li class="list footer--down_item">About us</li>
        <li class="list footer--down_item">Blog</li>
        <li class="list footer--down_item">Check Out</li>
        <li class="list footer--down_item">Contacts</li>
        <li class="list footer--down_item">Service</li>
      </ul>
    </div>
    <div class="footer--down_list-container">
      <h3 class="footer--down_title">Categories</h3>
      <ul class="list footer--down_list">
        <li class="list footer--down_item">Vegetable</li>
        <li class="list footer--down_item">Fresh fruit</li>
        <li class="list footer--down_item">Fresh meats</li>
        <li class="list footer--down_item">Grain and Nuts</li>
        <li class="list footer--down_item">Smothie</li>
      </ul>
    </div>
    <div class="footer--down_list-container">
      <h3 class="footer--down_title">Help center</h3>
      <ul class="list footer--down_list">
        <li class="list footer--down_item">Returns policy</li>
        <li class="list footer--down_item">Term and Condition</li>
        <li class="list footer--down_item">Privacy Policy</li>
        <li class="list footer--down_item">Support center</li>
        <li class="list footer--down_item">Help and FAQ</li>
      </ul>
    </div>
    <div class="footer--down_list-container">
      <h3 class="footer--down_title">Contact info</h3>
      <ul class="list footer--down_list">
        <li class="list footer--down_item">
          29 Rue du Bourg Tibourg, 75004
        </li>
        <li class="list footer--down_item">Paris, Francem</li>
        <li class="list footer--down_item">Organicfood@gmail.co</li>
      </ul>
    </div>
  </div>
</footer>