<header class="header">
  <section class="container contacts">
    <ul class="list socials-list">
      <li class="socials-item">
        {{>facebook}}
      </li>
      <li class="socials-item">
        {{>twitter}}
      </li>
      <li class="socials-item">
        {{>instagram}}
      </li>
      <li class="socials-item">
        {{>youtube}}
      </li>
    </ul>
    <ul class="list contacts-list">
      <li class="contacts-item">
        <span class="contacts-text">Hotline:(+800) 345 678</span>
      </li>
      <li class="contacts-item">
        {{>mail}}
        <span class="contacts-text"> Organicfood@gmail.com </span>
      </li>
    </ul>
  </section>

  <section class="container search-section">
    <img src="http://localhost:3000/img/OrgaFresh.png" alt="logo" />
    <button class="search_btn" type="button" modal-open>
     {{>bag}}
    </button>
    <div class="is-hidden modal" modal>
      <button class="modal__close" type="button" modal-close>
        X
      </button>
      <button class="clear-cart-btn" type="button">clear</button>
      <ul class="modal_product-list list">
      </ul>
      <a class="order-btn" href="http://localhost:3000/orders">order</a>
    </div>
  </section>
</header>