<nav class="navigation container">
  <ul class="list navigation-list">
    <li class="navigation-item navigation_menu-item">
      {{>menu}}
      <a href="/categories" class="link"><span class="navigation_menu-span"> All categories </span></a>
      <ul class="navigation_menu list">
        {{#each categories}}
        <li class="navigation_menu-item">
          <a href="/categories/{{name}}" class="navigation_link link">
            {{>menuIcon}}  
            {{name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    <li class="navigation-item"><a href="/" class="link">Home</a></li>
    <li class="navigation-item"><a href="/shop" class="link">Shop</a></li>
    <li class="navigation-item"><a href="/orders" class="link">Order</a></li>
    <li class="navigation-item"><a href="#footer" class="link">Contacts</a></li>
  </ul>
</nav>