.modal {
  z-index: 10;
  position: absolute;
  top: 10%;
  right: 0;
  width: 260px;
  height: fit-content;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  &_product-list {
    margin-top: 20px;
  }
}

.modal__close {
  font-weight: 800;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.clear-cart-btn {
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: $color-green;
  padding: 10px 17px;
  border-radius: 2%;
  cursor: pointer;
  font-family: $main-font;
}

.order-btn {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: $color-green;
  padding: 10px 17px;
  border-radius: 2%;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
}
.cart {
  &_picture {
    object-fit: cover;
  }
  &_cat {
    color: $color-green;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
  }
  &_list-item {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &_product-title {
      margin-right: 5px;
    }
  }
  &_product-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &_quantity {
    &-wrap {
      margin-left: 10px;
    }
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 20%;
    right: 10%;
    width: 450px;
  }
}
