.navigation {
  background-color: $color-green;
  &_menu-icon {
    margin-right: 10px;
  }
  &_link {
    display: flex;
    color: #2c332c;
    transition: all 250ms linear;
    &:hover {
      color: #88b13e;
    }
  }

  &_menu-icon {
    transition: fill 250ms linear;
  }
  &_link:hover &_menu-icon {
    fill: #88b13e;
  }
  &_burger-icon {
    fill: #ffffff;
    margin-right: 10px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    font-size: small;
    font-weight: bold;
    display: flex;
    color: #fff;
    padding: 5px;
    transition: all 250ms linear;
    &:hover {
      background-color: #ffffff;
      color: #2c332c;
    }
  }

  &_menu-item {
    width: 250px;
    transition: all 250ms linear;
  }
  &_menu-item span {
    margin-right: 10px;
    margin-top: 3px;
  }

  &_menu-item:hover,
  &_menu-item:focus {
    background-color: #ffffff;
    fill: #2c332c;
    color: #2c332c;
    position: relative;
  }
  &_menu-item:hover &_burger-icon {
    fill: #2c332c;
  }

  &_menu-item:hover &_menu,
  &_menu-item:focus &_menu {
    padding: 10px;
    display: block;
    position: absolute;
    top: 40px;
    background-color: #fff;
    z-index: 2;
    &-item {
      padding: 10px 25px;
    }
  }
  &_menu {
    display: none;
  }
  &_menu-span {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    &-item {
      padding: 15px 20px;
      font-size: unset;
    }
    &_link {
      padding-bottom: 20px;
    }
    &_menu-item:hover &_menu {
      width: 100%;
      top: 60px;
      left: 0px;
    }
    &_menu-span {
      display: unset;
    }
  }
}
