.hero {
  background: #f5f5f5;
  margin-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-sub {
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pinned {
  min-width: 500px;
}

.pinned-title {
  font-family: var(--secondary-font);
  margin-top: 10px;
  margin-bottom: 10px;
}

.pinned-btn {
  border: none;
  background: none;
  text-decoration: underline;
  -webkit-text-decoration-color: #f6ae13;
          text-decoration-color: #f6ae13;
  text-decoration-thickness: 500;
  color: #ffffff;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.pinned-sub {
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
}

.pinned-item {
  max-width: 270px;
  min-height: 184px;
  padding: 20px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pinned-item1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/homepage/ice-cream.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/homepage/ice-cream.jpg");
  margin-bottom: 10px;
}

.pinned-item2 {
  min-height: 183px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/homepage/citrus.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/homepage/citrus.jpg");
}

.carousel {
  max-width: 680px;
}

.carousel-item {
  width: 690px;
  padding-left: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/homepage/carousel/salad1.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/homepage/carousel/salad1.jpg");
}

.carousel-item2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/homepage/carousel/salad3.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/homepage/carousel/salad3.jpg");
}

.carousel-item3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/homepage/carousel/salad2.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/homepage/carousel/salad2.jpg");
}

.carousel-item_btn {
  background: #f6ae13;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 25px;
}

.contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-item:not(:last-child) {
  margin-right: 10px;
}

.contacts-text {
  padding: 5px;
  margin-right: 20px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-item {
  height: 20px;
}

.socials-item .icon {
  margin-right: 5px;
}

.search {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #dddddd;
  width: 500px;
}

.search::-webkit-input-placeholder {
  line-height: 22px;
  color: #888888;
  padding: 10px 15px;
}

.search:-ms-input-placeholder {
  line-height: 22px;
  color: #888888;
  padding: 10px 15px;
}

.search::-ms-input-placeholder {
  line-height: 22px;
  color: #888888;
  padding: 10px 15px;
}

.search::placeholder {
  line-height: 22px;
  color: #888888;
  padding: 10px 15px;
}

.search-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-search {
  position: absolute;
  right: 530px;
  top: 30px;
}

.btn {
  border: none;
  background-color: unset;
  font-family: inherit;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.auth-icon {
  margin-left: 5px;
}

.navigation {
  background-color: var(--color-green);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-item {
  font-weight: bold;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.burger-icon {
  fill: #ffffff;
  margin-right: 10px;
}

.carousel {
  margin: 0 auto;
}

.advantages {
  background: #f5f5f5;
}

.advantages-list {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
}

.advantages-item {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-text {
  font-weight: bold;
  margin-left: 20px;
}

.advantages-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages-sub {
  font-size: 12px;
  line-height: 24px;
}

body {
  font-family: var(--main-font);
  color: #3b352d;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 255px;
  padding-right: 255px;
}

:root {
  --main-font: "Jost", sans-serif;
  --secondary-font: "Lobster", cursive;
  --color-green: #88b13e;
  --color-pink: #fceee7;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */