<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />

    <title>CraftStudio</title>
  </head>
  <body>
    {{>header}}
    {{>navigation}}

    <section class="hero container">
      <div class="carousel">
        <div class="owl-carousel owl-theme">
          <div class="carousel-item1 carousel-item">
            <p class="hero-sub">tomato & cucumber</p>
            <h1 class="hero-title">Vegetable dead salad</h1>
            <p>Discount of only $ 15.0 / 2 pieces</p>
            <button type="button" class="carousel-item_btn">order now</button>
          </div>
          <div class="carousel-item2 carousel-item">
            <p class="hero-sub">tomato & bubumber</p>
            <h1 class="hero-title">Vegetable fresh salad</h1>
            <p>Discount of only $ 15.0 / 2 pieces</p>
            <button type="button" class="carousel-item_btn">order now</button>
          </div>
          <div class="carousel-item3 carousel-item">
            <p class="hero-sub">tomato & cucumber</p>
            <h1 class="hero-title">Vegetable farsh salad</h1>
            <p>Discount of only $ 15.0 / 2 pieces</p>
            <button type="button" class="carousel-item_btn">order now</button>
          </div>
        </div>
      </div>

      <div class="pinned">
        <ul class="pinned-list list">
          <li class="pinned-item1 pinned-item">
            <p class="pinned-sub">only now</p>
            <h1 class="pinned-title">Vegetable fresh ice-cream</h1>
            <button class="pinned-btn">order now</button>
          </li>
          <li class="pinned-item2 pinned-item">
            <p class="pinned-sub">only for dummies</p>
            <h1 class="pinned-title">Vegetable fresh other</h1>
            <button class="pinned-btn">order now</button>
          </li>
        </ul>
      </div>
    </section>

    <section class="advantages container">
      <ul class="advantages-list list">
        <li class="advantages-item">
          <svg width="51" height="50">
            <path
              d="M27.5519 11.0718V9.6175H30.4815V6.70887H27.5519V5.25455C27.5519 2.84882 25.5806 0.891602 23.1576 0.891602C20.7345 0.891602 18.7632 2.84882 18.7632 5.25455V11.0718C18.7632 13.4776 20.7345 15.4348 23.1576 15.4348C25.5806 15.4348 27.5519 13.4776 27.5519 11.0718ZM24.6224 11.0718C24.6224 11.8737 23.9653 12.5261 23.1576 12.5261C22.3499 12.5261 21.6928 11.8737 21.6928 11.0718V9.6175H24.6224V11.0718ZM24.6224 6.70887H21.6928V5.25455C21.6928 4.45264 22.3499 3.80024 23.1576 3.80024C23.9653 3.80024 24.6224 4.45264 24.6224 5.25455V6.70887Z"
              fill="#888888"
            ></path>
            <path
              d="M43.3075 30.305C43.1733 29.3721 42.916 27.5845 42.4235 24.1607H45.1289V15.4348H40.7345C38.8249 15.4348 37.1967 16.6508 36.592 18.3434H27.3004C26.6959 16.6505 25.0668 15.4348 23.157 15.4348C22.6434 15.4348 22.1506 15.5235 21.6922 15.685V15.4348H3.91933V29.978H0.989746V32.8856H5.92366C2.91741 35.3045 0.989746 39.0134 0.989746 43.1638C0.989746 47.1833 4.26444 50.5323 8.31371 50.5323C11.913 50.5323 14.8318 47.9028 15.4928 44.6181H36.4849C37.1461 47.9034 40.0652 50.5323 43.664 50.5323C47.7123 50.5323 50.9879 47.1842 50.9879 43.1638V40.2552C50.988 35.5511 47.7558 31.4557 43.3075 30.305ZM40.7345 18.3434H42.1993V21.2521H40.7345C39.9268 21.2521 39.2697 20.5997 39.2697 19.7978C39.2697 18.9959 39.9268 18.3434 40.7345 18.3434ZM6.84892 18.3434H18.7626V21.2521H6.84892V18.3434ZM6.84892 24.1607H18.7626V29.978C16.3618 29.978 10.8366 29.978 6.84892 29.978V24.1607ZM8.31371 47.6237C6.43077 47.6237 4.77985 46.347 4.1702 44.6162H12.4571C11.8476 46.347 10.1967 47.6237 8.31371 47.6237ZM24.6217 41.7095H4.02245C4.72946 36.7289 9.01154 32.8866 14.1729 32.8866H24.6217V41.7095ZM30.4809 41.7095H27.5513V29.978C26.1749 29.978 24.529 29.978 23.157 29.978C22.3493 29.978 21.6922 29.3256 21.6922 28.5237V26.8192C22.1506 26.9806 22.6434 27.0694 23.157 27.0694H29.0161C29.8238 27.0694 30.4809 27.7218 30.4809 28.5237V41.7095ZM23.157 24.1607C22.3493 24.1607 21.6922 23.5083 21.6922 22.7064V19.7978C21.6922 18.9959 22.3493 18.3434 23.157 18.3434C23.9646 18.3434 24.6217 18.9959 24.6217 19.7978V21.2511H36.0891C35.4846 22.945 33.8555 24.1607 31.9457 24.1607C30.8502 24.1607 24.1155 24.1607 23.157 24.1607ZM36.3401 25.6111V31.4323C36.3401 33.3314 35.098 34.9985 33.4105 35.6264V28.5237C33.4105 27.9781 33.3082 27.456 33.1231 26.9741C34.316 26.7819 35.4132 26.3035 36.3401 25.6111ZM36.4875 41.7095H33.4105V38.6518C36.6909 37.9769 39.2697 35.0144 39.2697 31.4323V23.9106C39.3248 23.93 39.38 23.949 39.4361 23.9662C41.6347 39.2469 39.8874 27.1076 40.703 32.8087L41.7947 32.9648C44.1506 33.3017 46.1237 34.7808 47.1941 36.795C46.1464 36.2204 44.9433 35.8922 43.6641 35.8922C40.1271 35.8922 37.168 38.3944 36.4875 41.7095ZM43.6641 47.6237C41.282 47.6237 39.2697 45.5814 39.2697 43.1638C39.2697 41.4872 40.2278 40.0294 41.6283 39.2991L42.214 43.3694L45.1142 42.9582L44.5283 38.8861C46.5389 39.2857 48.0584 41.0517 48.0584 43.1638C48.0584 45.5814 46.0461 47.6237 43.6641 47.6237Z"
              fill="#888888"
            ></path>
          </svg>
          <span class="advantages-text"> Free Shipping </span>
        </li>
        <li class="advantages-item">
          <svg width="51" height="50">
            <path
              d="M47.2833 8.78883C43.7065 8.78883 40.7966 5.89969 40.7966 2.34863V0.891602H11.1582V2.34863C11.1582 5.89988 8.24827 8.78883 4.67163 8.78883H3.2041V18.4783C3.2041 25.4411 5.31663 32.1456 9.31357 37.8668C13.3105 43.588 18.895 47.9017 25.4633 50.3413L25.9775 50.5323L26.4917 50.3413C33.0601 47.9017 38.6446 43.5881 42.6414 37.8668C46.6383 32.1456 48.7508 25.4411 48.7508 18.4783V8.78883H47.2833ZM45.8159 18.4783H45.8158C45.8158 24.8447 43.8841 30.9747 40.2295 36.2059C36.68 41.2871 31.7604 45.1541 25.9774 47.4158C20.1945 45.154 15.2748 41.2871 11.7252 36.2059C8.07074 30.9748 6.13916 24.8447 6.13916 18.4783V11.5897C10.1615 10.9624 13.3474 7.79922 13.9792 3.80567H37.9758C38.6075 7.79922 41.7935 10.9624 45.8159 11.5897V18.4783Z"
              fill="#888888"
            ></path>
            <path
              d="M32.5258 14.5803L22.8116 24.2252L19.4288 20.8666L13.2026 27.0483L22.8116 36.5885L38.752 20.762L32.5258 14.5803ZM17.3535 27.0485L19.4289 24.9879L22.8117 28.3465L32.5259 18.7017L34.6013 20.7622L22.8117 32.4676L17.3535 27.0485Z"
              fill="#888888"
            ></path>
          </svg>
          <span class="advantages-text"> Money returns </span>
        </li>
        <li class="advantages-item">
          <svg width="51" height="50">
            <path
              d="M29.7908 13.0735L33.2166 15.5899C33.6023 15.8731 33.4074 16.4998 32.9198 16.5028L31.8447 16.5093C31.8436 16.5093 31.8427 16.5093 31.8416 16.5093C31.565 16.5093 31.3393 16.2871 31.3375 16.0125C31.3325 15.2093 30.6732 14.5606 29.8638 14.5672C29.0549 14.5721 28.4031 15.2273 28.408 16.0304C28.4177 17.5822 29.476 18.8876 30.9102 19.2896V19.3599C30.9102 20.1631 31.566 20.8143 32.3749 20.8143C33.1837 20.8143 33.8396 20.1631 33.8396 19.3599V19.2866C34.4102 19.1295 34.9327 18.8274 35.36 18.3977C36.0047 17.7494 36.3565 16.8908 36.3501 15.9776V15.9685C36.3428 14.9018 35.8227 13.8861 34.9589 13.2516L31.5331 10.7354C31.144 10.4495 31.3484 9.83368 31.8331 9.83368H32.9098C33.1878 9.83368 33.414 10.0579 33.414 10.3336C33.414 11.1368 34.0698 11.7879 34.8787 11.7879C35.6875 11.7879 36.3434 11.1368 36.3434 10.3336C36.3434 8.77407 35.2823 7.45665 33.8395 7.05313V6.98313C33.8395 6.17995 33.1836 5.52881 32.3748 5.52881C31.5659 5.52881 30.9101 6.17995 30.9101 6.98313V7.05119C29.4638 7.45248 28.3994 8.77155 28.3994 10.3336C28.3995 11.4093 28.9196 12.4335 29.7908 13.0735Z"
              fill="#888888"
            ></path>
            <path
              d="M32.3756 25.4516C39.1974 25.4516 44.7472 19.9429 44.7472 13.1716C44.7472 6.40026 39.1973 0.891602 32.3756 0.891602C25.5538 0.891602 20.0039 6.40036 20.0039 13.1717C20.0039 19.943 25.5538 25.4516 32.3756 25.4516ZM32.3756 3.80024C37.582 3.80024 41.8177 8.00428 41.8177 13.1717C41.8177 18.339 37.582 22.5431 32.3756 22.5431C27.1692 22.5431 22.9334 18.339 22.9334 13.1717C22.9334 8.00428 27.1692 3.80024 32.3756 3.80024Z"
              fill="#888888"
            ></path>
            <path
              d="M48.9578 28.7355C47.3736 26.7105 44.5135 26.3295 42.4548 27.7476L36.8817 31.4494C36.1072 30.0177 34.5844 29.0417 32.8359 29.0417H28.8603C26.8536 27.173 24.1745 26.1121 21.4111 26.1121C19.337 26.1121 17.3194 26.6938 15.5766 27.7944C14.0063 28.7862 12.7217 30.1561 11.8391 31.7735L11.0928 32.2266L10.8994 31.6651C10.6377 30.9053 9.80534 30.4997 9.03993 30.7594L0.958273 33.5011C0.193163 33.7607 -0.215808 34.5878 0.0459022 35.3478L4.93568 49.548C5.19748 50.3083 6.03017 50.7132 6.79518 50.4537L14.8768 47.7121C15.5986 47.4672 16.0714 46.6851 15.773 45.8184L28.5969 45.4243C32.0892 45.4196 35.4383 44.3548 38.2832 42.3444L47.9539 35.5148C50.171 33.9479 50.6287 30.8698 48.9578 28.7355ZM7.23384 47.2311L3.29179 35.7833L8.60127 33.982C9.17323 35.6431 11.953 43.7156 12.5433 45.43L7.23384 47.2311ZM46.2556 33.1447L36.5849 39.9744C34.2323 41.6369 31.462 42.5156 28.5736 42.5156C28.5586 42.5156 28.5434 42.5158 28.5283 42.5163L14.7814 42.9387L12.0638 35.0463L13.7156 34.0434C13.7159 34.0432 13.7162 34.0429 13.7166 34.0426C13.9598 33.8949 14.1499 33.678 14.2659 33.4433C15.614 30.7153 18.3519 29.0205 21.4111 29.0205C23.6218 29.0205 25.675 29.8992 27.1926 31.4947C27.4721 31.7886 27.8737 31.9501 28.2575 31.9501H32.8359C33.7511 31.9501 34.4956 32.6889 34.4956 33.597C34.4956 34.4957 33.7635 35.244 32.8359 35.244H24.5716C23.7627 35.244 23.1069 35.8951 23.1069 36.6983C23.1069 37.5015 23.7628 38.1526 24.5716 38.1526H32.8359C34.0627 38.1526 35.2153 37.6783 36.0804 36.8181C36.6857 36.2174 37.1004 35.4784 37.2961 34.6733L44.0948 30.1575C44.103 30.1521 44.1111 30.1465 44.1192 30.1409C44.9209 29.5849 46.0314 29.7362 46.6446 30.5199C47.2912 31.3459 47.1144 32.5379 46.2556 33.1447Z"
              fill="#888888"
            ></path>
          </svg>
          <span class="advantages-text"> Security payments </span>
        </li>
        <li class="advantages-item">
          <svg width="51" height="50">
            <path
              d="M47.26 40.1462L34.1822 35.89V31.4109C35.1162 30.0403 35.7459 28.4274 35.968 26.6815H38.3284C40.3896 26.6815 42.0666 25.0165 42.0666 22.97V18.9948C42.0666 18.2202 41.826 17.5005 41.4155 16.9048V16.2427C41.4155 7.77808 34.4794 0.891602 25.9538 0.891602C17.4282 0.891602 10.4921 7.77808 10.4921 16.2427V16.9048C10.0816 17.5006 9.84103 18.2203 9.84103 18.9948V22.97C9.84103 25.0165 11.518 26.6815 13.5793 26.6815H15.9397C16.1649 28.4517 16.8095 30.0848 17.7649 31.4676V35.8772L4.64754 40.1462C2.43872 40.8652 0.95459 42.899 0.95459 45.2068V50.5323H50.953V45.2068C50.953 42.899 49.4689 40.8652 47.26 40.1462ZM20.6945 34.3095C22.2274 35.2925 24.0286 35.8599 25.9538 35.8599C27.8957 35.8599 29.7111 35.2824 31.2527 34.2837V36.2906C30.1405 37.2424 27.8963 38.8147 25.9538 38.8147C24.0148 38.8147 21.7931 37.2451 20.6945 36.2953V34.3095ZM33.1277 17.8772C31.0048 17.5031 29.3872 15.6589 29.3872 13.4455H26.4576C26.4576 15.9281 24.4233 17.9478 21.9228 17.9478H18.7799V16.5461C18.7799 12.6187 21.9981 9.42359 25.9538 9.42359C29.9095 9.42359 33.1277 12.6187 33.1277 16.5461V17.8772ZM18.7799 20.9578V20.8566H21.9228C24.3787 20.8566 26.5613 19.6729 27.9224 17.8501C29.1348 19.4739 30.999 20.5903 33.1277 20.8149V25.2758C33.1277 25.8474 33.0671 26.4038 32.9559 26.9401H27.6349V29.8487H31.7117C30.403 31.7301 28.3094 32.9512 25.9539 32.9512C21.9983 32.9512 18.78 29.5081 18.78 25.2758V20.9578H18.7799ZM39.137 22.97C39.137 23.4127 38.7742 23.7729 38.3283 23.7729H36.0573V18.192H38.3283C38.7742 18.192 39.137 18.5521 39.137 18.9948V22.97ZM25.9538 3.80024C32.54 3.80024 37.9559 8.87066 38.4493 15.2863C38.4091 15.2851 38.3689 15.2833 38.3283 15.2833H35.9774C35.3501 10.346 31.0942 6.51496 25.9538 6.51496C20.8134 6.51496 16.5575 10.346 15.9301 15.2833H13.5792C13.5387 15.2833 13.4984 15.2851 13.4582 15.2863C13.9517 8.87066 19.3676 3.80024 25.9538 3.80024ZM12.7706 22.97V18.9948C12.7706 18.5521 13.1334 18.192 13.5793 18.192H15.8503V23.7729H13.5793C13.1334 23.7729 12.7706 23.4127 12.7706 22.97ZM48.0234 47.6237H40.8668V44.6181H37.9372V47.6237H13.9704V44.6181H11.0408V47.6237H3.88418V45.2068C3.88418 44.1594 4.5577 43.2365 5.5602 42.9102L18.8775 38.5761C20.1411 39.646 22.9769 41.7233 25.9539 41.7233C28.9245 41.7233 31.7783 39.653 33.0543 38.5839L46.3475 42.9103C47.3499 43.2365 48.0234 44.1595 48.0234 45.2068V47.6237Z"
              fill="#888888"
            ></path>
          </svg>
          <span class="advantages-text"> Support 24/7 </span>
        </li>
      </ul>
    </section>

    <section class="new-dishes container">
      <h2 class="new-dishes_title">New Dishes</h2>
      <ul class="new-dishes_btn-list list">
        <li class="new-dishes_btn-list-item">
          <button class="new-dishes_btn">Burger</button>
        </li>
        <li class="new-dishes_btn-list-item">
          <button class="new-dishes_btn">Pizza</button>
        </li>
        <li class="new-dishes_btn-list-item">
          <button class="new-dishes_btn">Sandvich</button>
        </li>
        <li class="new-dishes_btn-list-item">
          <button class="new-dishes_btn">Fries</button>
        </li>
        <li class="new-dishes_btn-list-item">
          <button class="new-dishes_btn">Other</button>
        </li>
      </ul>

      <ul class="new-dishes_card-list list">
        <li class="new-dishes_card-item">
          <a href="/" class="link new-dishes_cart">
            <div class="new-dishes_card-picture">
              <ul class="new-dishes_cart-list list">
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="icon">
                      <path
                        d="M15.1386 14.2539L11.7682 10.8835C12.7202 9.72941 13.2376 8.29369 13.2376 6.78145C13.2376 5.05492 12.5672 3.43553 11.3457 2.2141C10.1274 0.992674 8.50492 0.322266 6.78145 0.322266C5.05798 0.322266 3.43553 0.992674 2.2141 2.2141C0.992674 3.43247 0.322266 5.05492 0.322266 6.78145C0.322266 8.50492 0.992674 10.1274 2.2141 11.3488C3.43247 12.5672 5.05492 13.2406 6.78145 13.2406C8.29676 13.2406 9.73247 12.7233 10.8835 11.7712L14.2539 15.1386C14.4988 15.3835 14.8937 15.3835 15.1386 15.1386C15.3835 14.8937 15.3835 14.4988 15.1386 14.2539ZM3.0988 10.461C2.11308 9.47839 1.57125 8.17125 1.57125 6.78145C1.57125 5.39165 2.11308 4.08145 3.09573 3.0988C4.07839 2.11614 5.38553 1.57431 6.77839 1.57431C8.16818 1.57431 9.47839 2.11614 10.461 3.0988C11.4437 4.08145 11.9855 5.38859 11.9855 6.78145C11.9855 8.17125 11.4437 9.48145 10.461 10.4641C9.47839 11.4468 8.16818 11.9886 6.77839 11.9886C5.38859 11.9886 4.08145 11.4468 3.0988 10.461V10.461Z"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="search_bag">
                      <path
                        d="M12.7003 14.3735L11.7875 4.20851C11.7626 3.93092 11.53 3.71829 11.2513 3.71829H9.369V2.86935C9.369 1.28719 8.08188 0 6.4998 0C4.91778 0 3.63081 1.28719 3.63081 2.86935V3.71829H1.74722C1.46855 3.71829 1.23589 3.93092 1.21098 4.20851L0.294633 14.4134C0.281138 14.564 0.331531 14.7133 0.433539 14.8248C0.535546 14.9364 0.679764 14.9999 0.830873 14.9999H12.1677C12.1681 14.9999 12.1687 14.9999 12.1692 14.9999C12.4666 14.9999 12.7075 14.7589 12.7075 14.4615C12.7075 14.4316 12.705 14.4021 12.7003 14.3735ZM4.70759 2.86935C4.70759 1.88093 5.51159 1.07679 6.49987 1.07679C7.48821 1.07679 8.29229 1.88093 8.29229 2.86935V3.71829H4.70759V2.86935ZM1.4198 13.9232L2.23945 4.79508H3.63081V5.75787C3.63081 6.0552 3.87179 6.29626 4.1692 6.29626C4.46661 6.29626 4.70759 6.0552 4.70759 5.75787V4.79508H8.29229V5.75787C8.29229 6.0552 8.53327 6.29626 8.83068 6.29626C9.12809 6.29626 9.36907 6.0552 9.36907 5.75787V4.79508H10.7591L11.5788 13.9232H1.4198Z"
                        fill="white"
                      ></path>
                    </svg>
                    <span class="new-dishes_cart-btn-add">Add</span>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg class="circle_icon" width="15" height="15">
                      <path
                        d="M4.47448 2.61618C6.57307 1.27826 9.25237 1.3363 11.2711 2.64978L10.6473 2.72614C10.3032 2.76891 10.0605 3.08048 10.1004 3.42259C10.1403 3.73722 10.4107 3.96937 10.7211 3.96937C10.7456 3.96937 12.9456 3.70056 12.9456 3.70056C13.1115 3.67918 13.2621 3.59671 13.3635 3.46536C13.4649 3.33401 13.511 3.16906 13.4895 3.00411L13.2222 0.868944C13.1791 0.526828 12.8627 0.282459 12.5216 0.328278C12.1775 0.371043 11.9347 0.682613 11.9778 1.02473L12.0607 1.67536C9.62415 0.0289271 6.35184 -0.0657657 3.79851 1.56539C0.815023 3.46841 -0.426305 7.23169 0.845749 10.5154C0.941 10.7628 1.25133 11.0102 1.65691 10.8728C1.98568 10.7598 2.14238 10.3871 2.01641 10.0664C0.959435 7.33249 1.99183 4.20152 4.47448 2.61618V2.61618Z"
                      ></path>
                      <path
                        d="M14.8535 5.13016C14.7583 4.88273 14.4479 4.63531 14.0423 4.77277C13.7136 4.88579 13.5569 5.25845 13.6828 5.57919C14.7429 8.31306 13.7074 11.444 11.2248 13.0294C9.12618 14.3673 6.44688 14.3092 4.42819 12.9958L5.05192 12.9194C5.39605 12.8766 5.63879 12.5651 5.59885 12.223C5.5589 11.9083 5.28851 11.6762 4.97818 11.6762C4.9536 11.6762 2.75362 11.945 2.75362 11.945C2.5877 11.9664 2.43715 12.0488 2.33575 12.1802C2.23435 12.3115 2.18826 12.4765 2.20977 12.6414L2.47709 14.7766C2.52011 15.1187 2.83658 15.3631 3.17764 15.3173C3.52177 15.2745 3.76451 14.9629 3.72149 14.6208L3.63853 13.9702C6.07817 15.6136 9.35048 15.7083 11.9069 14.0771C14.8842 12.1771 16.1256 8.41386 14.8535 5.13016V5.13016Z"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <h3 class="new-dishes_card-title">Exotic Delicious</h3>
            <p class="new-dishes_card-price">15$</p>
          </a>
        </li>
        <li class="new-dishes_card-item">
          <a href="/" class="link new-dishes_cart">
            <div class="new-dishes_card-picture">
              <ul class="new-dishes_cart-list list">
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="icon">
                      <path
                        d="M15.1386 14.2539L11.7682 10.8835C12.7202 9.72941 13.2376 8.29369 13.2376 6.78145C13.2376 5.05492 12.5672 3.43553 11.3457 2.2141C10.1274 0.992674 8.50492 0.322266 6.78145 0.322266C5.05798 0.322266 3.43553 0.992674 2.2141 2.2141C0.992674 3.43247 0.322266 5.05492 0.322266 6.78145C0.322266 8.50492 0.992674 10.1274 2.2141 11.3488C3.43247 12.5672 5.05492 13.2406 6.78145 13.2406C8.29676 13.2406 9.73247 12.7233 10.8835 11.7712L14.2539 15.1386C14.4988 15.3835 14.8937 15.3835 15.1386 15.1386C15.3835 14.8937 15.3835 14.4988 15.1386 14.2539ZM3.0988 10.461C2.11308 9.47839 1.57125 8.17125 1.57125 6.78145C1.57125 5.39165 2.11308 4.08145 3.09573 3.0988C4.07839 2.11614 5.38553 1.57431 6.77839 1.57431C8.16818 1.57431 9.47839 2.11614 10.461 3.0988C11.4437 4.08145 11.9855 5.38859 11.9855 6.78145C11.9855 8.17125 11.4437 9.48145 10.461 10.4641C9.47839 11.4468 8.16818 11.9886 6.77839 11.9886C5.38859 11.9886 4.08145 11.4468 3.0988 10.461V10.461Z"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="search_bag">
                      <path
                        d="M12.7003 14.3735L11.7875 4.20851C11.7626 3.93092 11.53 3.71829 11.2513 3.71829H9.369V2.86935C9.369 1.28719 8.08188 0 6.4998 0C4.91778 0 3.63081 1.28719 3.63081 2.86935V3.71829H1.74722C1.46855 3.71829 1.23589 3.93092 1.21098 4.20851L0.294633 14.4134C0.281138 14.564 0.331531 14.7133 0.433539 14.8248C0.535546 14.9364 0.679764 14.9999 0.830873 14.9999H12.1677C12.1681 14.9999 12.1687 14.9999 12.1692 14.9999C12.4666 14.9999 12.7075 14.7589 12.7075 14.4615C12.7075 14.4316 12.705 14.4021 12.7003 14.3735ZM4.70759 2.86935C4.70759 1.88093 5.51159 1.07679 6.49987 1.07679C7.48821 1.07679 8.29229 1.88093 8.29229 2.86935V3.71829H4.70759V2.86935ZM1.4198 13.9232L2.23945 4.79508H3.63081V5.75787C3.63081 6.0552 3.87179 6.29626 4.1692 6.29626C4.46661 6.29626 4.70759 6.0552 4.70759 5.75787V4.79508H8.29229V5.75787C8.29229 6.0552 8.53327 6.29626 8.83068 6.29626C9.12809 6.29626 9.36907 6.0552 9.36907 5.75787V4.79508H10.7591L11.5788 13.9232H1.4198Z"
                        fill="white"
                      ></path>
                    </svg>
                    <span class="new-dishes_cart-btn-add">Add</span>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg class="circle_icon" width="15" height="15">
                      <path
                        d="M4.47448 2.61618C6.57307 1.27826 9.25237 1.3363 11.2711 2.64978L10.6473 2.72614C10.3032 2.76891 10.0605 3.08048 10.1004 3.42259C10.1403 3.73722 10.4107 3.96937 10.7211 3.96937C10.7456 3.96937 12.9456 3.70056 12.9456 3.70056C13.1115 3.67918 13.2621 3.59671 13.3635 3.46536C13.4649 3.33401 13.511 3.16906 13.4895 3.00411L13.2222 0.868944C13.1791 0.526828 12.8627 0.282459 12.5216 0.328278C12.1775 0.371043 11.9347 0.682613 11.9778 1.02473L12.0607 1.67536C9.62415 0.0289271 6.35184 -0.0657657 3.79851 1.56539C0.815023 3.46841 -0.426305 7.23169 0.845749 10.5154C0.941 10.7628 1.25133 11.0102 1.65691 10.8728C1.98568 10.7598 2.14238 10.3871 2.01641 10.0664C0.959435 7.33249 1.99183 4.20152 4.47448 2.61618V2.61618Z"
                      ></path>
                      <path
                        d="M14.8535 5.13016C14.7583 4.88273 14.4479 4.63531 14.0423 4.77277C13.7136 4.88579 13.5569 5.25845 13.6828 5.57919C14.7429 8.31306 13.7074 11.444 11.2248 13.0294C9.12618 14.3673 6.44688 14.3092 4.42819 12.9958L5.05192 12.9194C5.39605 12.8766 5.63879 12.5651 5.59885 12.223C5.5589 11.9083 5.28851 11.6762 4.97818 11.6762C4.9536 11.6762 2.75362 11.945 2.75362 11.945C2.5877 11.9664 2.43715 12.0488 2.33575 12.1802C2.23435 12.3115 2.18826 12.4765 2.20977 12.6414L2.47709 14.7766C2.52011 15.1187 2.83658 15.3631 3.17764 15.3173C3.52177 15.2745 3.76451 14.9629 3.72149 14.6208L3.63853 13.9702C6.07817 15.6136 9.35048 15.7083 11.9069 14.0771C14.8842 12.1771 16.1256 8.41386 14.8535 5.13016V5.13016Z"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <h3 class="new-dishes_card-title">Exotic Delicious</h3>
            <p class="new-dishes_card-price">15$</p>
          </a>
        </li>
        <li class="new-dishes_card-item">
          <a href="/" class="link new-dishes_cart">
            <div class="new-dishes_card-picture">
              <ul class="new-dishes_cart-list list">
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="icon">
                      <path
                        d="M15.1386 14.2539L11.7682 10.8835C12.7202 9.72941 13.2376 8.29369 13.2376 6.78145C13.2376 5.05492 12.5672 3.43553 11.3457 2.2141C10.1274 0.992674 8.50492 0.322266 6.78145 0.322266C5.05798 0.322266 3.43553 0.992674 2.2141 2.2141C0.992674 3.43247 0.322266 5.05492 0.322266 6.78145C0.322266 8.50492 0.992674 10.1274 2.2141 11.3488C3.43247 12.5672 5.05492 13.2406 6.78145 13.2406C8.29676 13.2406 9.73247 12.7233 10.8835 11.7712L14.2539 15.1386C14.4988 15.3835 14.8937 15.3835 15.1386 15.1386C15.3835 14.8937 15.3835 14.4988 15.1386 14.2539ZM3.0988 10.461C2.11308 9.47839 1.57125 8.17125 1.57125 6.78145C1.57125 5.39165 2.11308 4.08145 3.09573 3.0988C4.07839 2.11614 5.38553 1.57431 6.77839 1.57431C8.16818 1.57431 9.47839 2.11614 10.461 3.0988C11.4437 4.08145 11.9855 5.38859 11.9855 6.78145C11.9855 8.17125 11.4437 9.48145 10.461 10.4641C9.47839 11.4468 8.16818 11.9886 6.77839 11.9886C5.38859 11.9886 4.08145 11.4468 3.0988 10.461V10.461Z"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="search_bag">
                      <path
                        d="M12.7003 14.3735L11.7875 4.20851C11.7626 3.93092 11.53 3.71829 11.2513 3.71829H9.369V2.86935C9.369 1.28719 8.08188 0 6.4998 0C4.91778 0 3.63081 1.28719 3.63081 2.86935V3.71829H1.74722C1.46855 3.71829 1.23589 3.93092 1.21098 4.20851L0.294633 14.4134C0.281138 14.564 0.331531 14.7133 0.433539 14.8248C0.535546 14.9364 0.679764 14.9999 0.830873 14.9999H12.1677C12.1681 14.9999 12.1687 14.9999 12.1692 14.9999C12.4666 14.9999 12.7075 14.7589 12.7075 14.4615C12.7075 14.4316 12.705 14.4021 12.7003 14.3735ZM4.70759 2.86935C4.70759 1.88093 5.51159 1.07679 6.49987 1.07679C7.48821 1.07679 8.29229 1.88093 8.29229 2.86935V3.71829H4.70759V2.86935ZM1.4198 13.9232L2.23945 4.79508H3.63081V5.75787C3.63081 6.0552 3.87179 6.29626 4.1692 6.29626C4.46661 6.29626 4.70759 6.0552 4.70759 5.75787V4.79508H8.29229V5.75787C8.29229 6.0552 8.53327 6.29626 8.83068 6.29626C9.12809 6.29626 9.36907 6.0552 9.36907 5.75787V4.79508H10.7591L11.5788 13.9232H1.4198Z"
                        fill="white"
                      ></path>
                    </svg>
                    <span class="new-dishes_cart-btn-add">Add</span>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg class="circle_icon" width="15" height="15">
                      <path
                        d="M4.47448 2.61618C6.57307 1.27826 9.25237 1.3363 11.2711 2.64978L10.6473 2.72614C10.3032 2.76891 10.0605 3.08048 10.1004 3.42259C10.1403 3.73722 10.4107 3.96937 10.7211 3.96937C10.7456 3.96937 12.9456 3.70056 12.9456 3.70056C13.1115 3.67918 13.2621 3.59671 13.3635 3.46536C13.4649 3.33401 13.511 3.16906 13.4895 3.00411L13.2222 0.868944C13.1791 0.526828 12.8627 0.282459 12.5216 0.328278C12.1775 0.371043 11.9347 0.682613 11.9778 1.02473L12.0607 1.67536C9.62415 0.0289271 6.35184 -0.0657657 3.79851 1.56539C0.815023 3.46841 -0.426305 7.23169 0.845749 10.5154C0.941 10.7628 1.25133 11.0102 1.65691 10.8728C1.98568 10.7598 2.14238 10.3871 2.01641 10.0664C0.959435 7.33249 1.99183 4.20152 4.47448 2.61618V2.61618Z"
                      ></path>
                      <path
                        d="M14.8535 5.13016C14.7583 4.88273 14.4479 4.63531 14.0423 4.77277C13.7136 4.88579 13.5569 5.25845 13.6828 5.57919C14.7429 8.31306 13.7074 11.444 11.2248 13.0294C9.12618 14.3673 6.44688 14.3092 4.42819 12.9958L5.05192 12.9194C5.39605 12.8766 5.63879 12.5651 5.59885 12.223C5.5589 11.9083 5.28851 11.6762 4.97818 11.6762C4.9536 11.6762 2.75362 11.945 2.75362 11.945C2.5877 11.9664 2.43715 12.0488 2.33575 12.1802C2.23435 12.3115 2.18826 12.4765 2.20977 12.6414L2.47709 14.7766C2.52011 15.1187 2.83658 15.3631 3.17764 15.3173C3.52177 15.2745 3.76451 14.9629 3.72149 14.6208L3.63853 13.9702C6.07817 15.6136 9.35048 15.7083 11.9069 14.0771C14.8842 12.1771 16.1256 8.41386 14.8535 5.13016V5.13016Z"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <h3 class="new-dishes_card-title">Exotic Delicious</h3>
            <p class="new-dishes_card-price">15$</p>
          </a>
        </li>
        <li class="new-dishes_card-item">
          <a href="/" class="link new-dishes_cart">
            <div class="new-dishes_card-picture">
              <ul class="new-dishes_cart-list list">
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="icon">
                      <path
                        d="M15.1386 14.2539L11.7682 10.8835C12.7202 9.72941 13.2376 8.29369 13.2376 6.78145C13.2376 5.05492 12.5672 3.43553 11.3457 2.2141C10.1274 0.992674 8.50492 0.322266 6.78145 0.322266C5.05798 0.322266 3.43553 0.992674 2.2141 2.2141C0.992674 3.43247 0.322266 5.05492 0.322266 6.78145C0.322266 8.50492 0.992674 10.1274 2.2141 11.3488C3.43247 12.5672 5.05492 13.2406 6.78145 13.2406C8.29676 13.2406 9.73247 12.7233 10.8835 11.7712L14.2539 15.1386C14.4988 15.3835 14.8937 15.3835 15.1386 15.1386C15.3835 14.8937 15.3835 14.4988 15.1386 14.2539ZM3.0988 10.461C2.11308 9.47839 1.57125 8.17125 1.57125 6.78145C1.57125 5.39165 2.11308 4.08145 3.09573 3.0988C4.07839 2.11614 5.38553 1.57431 6.77839 1.57431C8.16818 1.57431 9.47839 2.11614 10.461 3.0988C11.4437 4.08145 11.9855 5.38859 11.9855 6.78145C11.9855 8.17125 11.4437 9.48145 10.461 10.4641C9.47839 11.4468 8.16818 11.9886 6.77839 11.9886C5.38859 11.9886 4.08145 11.4468 3.0988 10.461V10.461Z"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="search_bag">
                      <path
                        d="M12.7003 14.3735L11.7875 4.20851C11.7626 3.93092 11.53 3.71829 11.2513 3.71829H9.369V2.86935C9.369 1.28719 8.08188 0 6.4998 0C4.91778 0 3.63081 1.28719 3.63081 2.86935V3.71829H1.74722C1.46855 3.71829 1.23589 3.93092 1.21098 4.20851L0.294633 14.4134C0.281138 14.564 0.331531 14.7133 0.433539 14.8248C0.535546 14.9364 0.679764 14.9999 0.830873 14.9999H12.1677C12.1681 14.9999 12.1687 14.9999 12.1692 14.9999C12.4666 14.9999 12.7075 14.7589 12.7075 14.4615C12.7075 14.4316 12.705 14.4021 12.7003 14.3735ZM4.70759 2.86935C4.70759 1.88093 5.51159 1.07679 6.49987 1.07679C7.48821 1.07679 8.29229 1.88093 8.29229 2.86935V3.71829H4.70759V2.86935ZM1.4198 13.9232L2.23945 4.79508H3.63081V5.75787C3.63081 6.0552 3.87179 6.29626 4.1692 6.29626C4.46661 6.29626 4.70759 6.0552 4.70759 5.75787V4.79508H8.29229V5.75787C8.29229 6.0552 8.53327 6.29626 8.83068 6.29626C9.12809 6.29626 9.36907 6.0552 9.36907 5.75787V4.79508H10.7591L11.5788 13.9232H1.4198Z"
                        fill="white"
                      ></path>
                    </svg>
                    <span class="new-dishes_cart-btn-add">Add</span>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg class="circle_icon" width="15" height="15">
                      <path
                        d="M4.47448 2.61618C6.57307 1.27826 9.25237 1.3363 11.2711 2.64978L10.6473 2.72614C10.3032 2.76891 10.0605 3.08048 10.1004 3.42259C10.1403 3.73722 10.4107 3.96937 10.7211 3.96937C10.7456 3.96937 12.9456 3.70056 12.9456 3.70056C13.1115 3.67918 13.2621 3.59671 13.3635 3.46536C13.4649 3.33401 13.511 3.16906 13.4895 3.00411L13.2222 0.868944C13.1791 0.526828 12.8627 0.282459 12.5216 0.328278C12.1775 0.371043 11.9347 0.682613 11.9778 1.02473L12.0607 1.67536C9.62415 0.0289271 6.35184 -0.0657657 3.79851 1.56539C0.815023 3.46841 -0.426305 7.23169 0.845749 10.5154C0.941 10.7628 1.25133 11.0102 1.65691 10.8728C1.98568 10.7598 2.14238 10.3871 2.01641 10.0664C0.959435 7.33249 1.99183 4.20152 4.47448 2.61618V2.61618Z"
                      ></path>
                      <path
                        d="M14.8535 5.13016C14.7583 4.88273 14.4479 4.63531 14.0423 4.77277C13.7136 4.88579 13.5569 5.25845 13.6828 5.57919C14.7429 8.31306 13.7074 11.444 11.2248 13.0294C9.12618 14.3673 6.44688 14.3092 4.42819 12.9958L5.05192 12.9194C5.39605 12.8766 5.63879 12.5651 5.59885 12.223C5.5589 11.9083 5.28851 11.6762 4.97818 11.6762C4.9536 11.6762 2.75362 11.945 2.75362 11.945C2.5877 11.9664 2.43715 12.0488 2.33575 12.1802C2.23435 12.3115 2.18826 12.4765 2.20977 12.6414L2.47709 14.7766C2.52011 15.1187 2.83658 15.3631 3.17764 15.3173C3.52177 15.2745 3.76451 14.9629 3.72149 14.6208L3.63853 13.9702C6.07817 15.6136 9.35048 15.7083 11.9069 14.0771C14.8842 12.1771 16.1256 8.41386 14.8535 5.13016V5.13016Z"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <h3 class="new-dishes_card-title">Exotic Delicious</h3>
            <p class="new-dishes_card-price">15$</p>
          </a>
        </li>
        <li class="new-dishes_card-item">
          <a href="/" class="link new-dishes_cart">
            <div class="new-dishes_card-picture">
              <ul class="new-dishes_cart-list list">
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="icon">
                      <path
                        d="M15.1386 14.2539L11.7682 10.8835C12.7202 9.72941 13.2376 8.29369 13.2376 6.78145C13.2376 5.05492 12.5672 3.43553 11.3457 2.2141C10.1274 0.992674 8.50492 0.322266 6.78145 0.322266C5.05798 0.322266 3.43553 0.992674 2.2141 2.2141C0.992674 3.43247 0.322266 5.05492 0.322266 6.78145C0.322266 8.50492 0.992674 10.1274 2.2141 11.3488C3.43247 12.5672 5.05492 13.2406 6.78145 13.2406C8.29676 13.2406 9.73247 12.7233 10.8835 11.7712L14.2539 15.1386C14.4988 15.3835 14.8937 15.3835 15.1386 15.1386C15.3835 14.8937 15.3835 14.4988 15.1386 14.2539ZM3.0988 10.461C2.11308 9.47839 1.57125 8.17125 1.57125 6.78145C1.57125 5.39165 2.11308 4.08145 3.09573 3.0988C4.07839 2.11614 5.38553 1.57431 6.77839 1.57431C8.16818 1.57431 9.47839 2.11614 10.461 3.0988C11.4437 4.08145 11.9855 5.38859 11.9855 6.78145C11.9855 8.17125 11.4437 9.48145 10.461 10.4641C9.47839 11.4468 8.16818 11.9886 6.77839 11.9886C5.38859 11.9886 4.08145 11.4468 3.0988 10.461V10.461Z"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg width="15" height="15" class="search_bag">
                      <path
                        d="M12.7003 14.3735L11.7875 4.20851C11.7626 3.93092 11.53 3.71829 11.2513 3.71829H9.369V2.86935C9.369 1.28719 8.08188 0 6.4998 0C4.91778 0 3.63081 1.28719 3.63081 2.86935V3.71829H1.74722C1.46855 3.71829 1.23589 3.93092 1.21098 4.20851L0.294633 14.4134C0.281138 14.564 0.331531 14.7133 0.433539 14.8248C0.535546 14.9364 0.679764 14.9999 0.830873 14.9999H12.1677C12.1681 14.9999 12.1687 14.9999 12.1692 14.9999C12.4666 14.9999 12.7075 14.7589 12.7075 14.4615C12.7075 14.4316 12.705 14.4021 12.7003 14.3735ZM4.70759 2.86935C4.70759 1.88093 5.51159 1.07679 6.49987 1.07679C7.48821 1.07679 8.29229 1.88093 8.29229 2.86935V3.71829H4.70759V2.86935ZM1.4198 13.9232L2.23945 4.79508H3.63081V5.75787C3.63081 6.0552 3.87179 6.29626 4.1692 6.29626C4.46661 6.29626 4.70759 6.0552 4.70759 5.75787V4.79508H8.29229V5.75787C8.29229 6.0552 8.53327 6.29626 8.83068 6.29626C9.12809 6.29626 9.36907 6.0552 9.36907 5.75787V4.79508H10.7591L11.5788 13.9232H1.4198Z"
                      ></path>
                    </svg>
                    <span class="new-dishes_cart-btn-add">Add</span>
                  </button>
                </li>
                <li class="new-dishes_cart-item">
                  <button class="new-dishes_cart-btn">
                    <svg class="circle_icon" width="15" height="15">
                      <path
                        d="M4.47448 2.61618C6.57307 1.27826 9.25237 1.3363 11.2711 2.64978L10.6473 2.72614C10.3032 2.76891 10.0605 3.08048 10.1004 3.42259C10.1403 3.73722 10.4107 3.96937 10.7211 3.96937C10.7456 3.96937 12.9456 3.70056 12.9456 3.70056C13.1115 3.67918 13.2621 3.59671 13.3635 3.46536C13.4649 3.33401 13.511 3.16906 13.4895 3.00411L13.2222 0.868944C13.1791 0.526828 12.8627 0.282459 12.5216 0.328278C12.1775 0.371043 11.9347 0.682613 11.9778 1.02473L12.0607 1.67536C9.62415 0.0289271 6.35184 -0.0657657 3.79851 1.56539C0.815023 3.46841 -0.426305 7.23169 0.845749 10.5154C0.941 10.7628 1.25133 11.0102 1.65691 10.8728C1.98568 10.7598 2.14238 10.3871 2.01641 10.0664C0.959435 7.33249 1.99183 4.20152 4.47448 2.61618V2.61618Z"
                      ></path>
                      <path
                        d="M14.8535 5.13016C14.7583 4.88273 14.4479 4.63531 14.0423 4.77277C13.7136 4.88579 13.5569 5.25845 13.6828 5.57919C14.7429 8.31306 13.7074 11.444 11.2248 13.0294C9.12618 14.3673 6.44688 14.3092 4.42819 12.9958L5.05192 12.9194C5.39605 12.8766 5.63879 12.5651 5.59885 12.223C5.5589 11.9083 5.28851 11.6762 4.97818 11.6762C4.9536 11.6762 2.75362 11.945 2.75362 11.945C2.5877 11.9664 2.43715 12.0488 2.33575 12.1802C2.23435 12.3115 2.18826 12.4765 2.20977 12.6414L2.47709 14.7766C2.52011 15.1187 2.83658 15.3631 3.17764 15.3173C3.52177 15.2745 3.76451 14.9629 3.72149 14.6208L3.63853 13.9702C6.07817 15.6136 9.35048 15.7083 11.9069 14.0771C14.8842 12.1771 16.1256 8.41386 14.8535 5.13016V5.13016Z"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <h3 class="new-dishes_card-title">Exotic Delicious</h3>
            <p class="new-dishes_card-price">15$</p>
          </a>
        </li>
      </ul>
    </section>

    <section class="container deals">
      <div class="deals--left">
        <h2 class="deals-title">Deals of the week</h2>
        <div class="deals--left_card">
          <div class="deals--left_card-img"></div>
          <p class="deals--left_card-timer">22 : 12 : 22 : 03</p>
          <div class="deals--left_card--down">
            <div>
              <h3 class="deals--left_card-title">Exotic delicious</h3>
              <p class="deals--left_card-price">22 $</p>
            </div>

            <svg class="deals--left_card-icon" width="15" height="15">
              <path
                d="M3.97263 10.3703H12.2373C13.1745 10.3703 13.939 9.56757 13.939 8.58352V4.93218C13.939 4.92894 13.939 4.92247 13.939 4.91923C13.939 4.90952 13.939 4.90305 13.939 4.89334C13.939 4.88686 13.939 4.88039 13.9359 4.87391C13.9359 4.86744 13.9328 4.85773 13.9328 4.85126C13.9328 4.84478 13.9297 4.83831 13.9297 4.83183C13.9266 4.82536 13.9266 4.81889 13.9236 4.80917C13.9205 4.8027 13.9205 4.79623 13.9174 4.78975C13.9143 4.78328 13.9143 4.7768 13.9112 4.77033C13.9081 4.76386 13.9051 4.75738 13.902 4.74767C13.8989 4.7412 13.8958 4.73472 13.8927 4.73149C13.8896 4.72501 13.8866 4.71854 13.8835 4.71206C13.8804 4.70559 13.8773 4.70235 13.8742 4.69588C13.8711 4.68941 13.865 4.68293 13.8619 4.67646C13.8588 4.66998 13.8557 4.66675 13.8496 4.66027C13.8465 4.6538 13.8403 4.65056 13.8372 4.64409C13.8342 4.63761 13.828 4.63438 13.8249 4.6279C13.8218 4.62143 13.8157 4.61819 13.8126 4.61495C13.8064 4.60848 13.8033 4.60524 13.7972 4.59877C13.791 4.59553 13.7879 4.58906 13.7817 4.58582C13.7756 4.58258 13.7694 4.57611 13.7633 4.57287C13.7571 4.56964 13.754 4.5664 13.7478 4.56316C13.7417 4.55993 13.7355 4.55669 13.7293 4.55021C13.7232 4.54698 13.717 4.54374 13.7108 4.5405C13.7047 4.53727 13.6985 4.53403 13.6923 4.53079C13.6862 4.52756 13.68 4.52432 13.6739 4.52108C13.6677 4.51784 13.6615 4.51784 13.6554 4.51461C13.6492 4.51137 13.6399 4.50813 13.6338 4.50813C13.6276 4.50813 13.6214 4.5049 13.6184 4.5049C13.6091 4.50166 13.603 4.50166 13.5937 4.50166C13.5906 4.50166 13.5875 4.49842 13.5814 4.49842L3.10639 2.98027V1.44593C3.10639 1.42974 3.10639 1.41356 3.10331 1.40061C3.10331 1.39737 3.10331 1.39414 3.10022 1.38766C3.10022 1.37795 3.09714 1.36824 3.09714 1.35853C3.09406 1.34882 3.09406 1.34234 3.09098 1.33263C3.09098 1.32616 3.08789 1.32292 3.08789 1.31645C3.08481 1.30674 3.08173 1.29703 3.07864 1.28732C3.07864 1.28408 3.07556 1.2776 3.07556 1.27437C3.07248 1.26466 3.0694 1.25818 3.06323 1.24847C3.06015 1.24523 3.06015 1.23876 3.05707 1.23552C3.05398 1.22905 3.0509 1.22258 3.04474 1.2161C3.04165 1.20963 3.03857 1.20639 3.03549 1.19992C3.0324 1.19344 3.02932 1.19021 3.02624 1.18373C3.02316 1.17726 3.01699 1.17078 3.01391 1.16431C3.01083 1.16107 3.00774 1.15784 3.00466 1.1546C2.99849 1.14812 2.99233 1.14165 2.98616 1.13518C2.98308 1.13194 2.98 1.1287 2.97692 1.12547C2.97075 1.11899 2.96459 1.11252 2.95534 1.10604C2.95225 1.10281 2.94609 1.09957 2.94301 1.09633C2.93684 1.08986 2.93068 1.08662 2.92451 1.08015C2.91526 1.07367 2.90601 1.0672 2.89985 1.06396C2.89677 1.06073 2.89368 1.06073 2.8906 1.05749C2.87827 1.05101 2.86286 1.04454 2.85053 1.03807L0.578583 0.0345955C0.365877 -0.0592776 0.122344 0.0443065 0.0329463 0.26766C-0.0564518 0.491013 0.0421944 0.746736 0.2549 0.840609L2.27098 1.73402V3.71507V4.02906V6.43739V8.58999V11.3091C2.27098 12.2154 2.91834 12.9664 3.75375 13.0797C3.6027 13.3452 3.5133 13.6559 3.5133 13.9861C3.5133 14.9604 4.26856 15.7502 5.19337 15.7502C6.11818 15.7502 6.87344 14.9572 6.87344 13.9861C6.87344 13.6624 6.7902 13.3549 6.64224 13.0959H10.3846C10.2367 13.3581 10.1534 13.6624 10.1534 13.9861C10.1534 14.9604 10.9087 15.7502 11.8335 15.7502C12.7583 15.7502 13.5136 14.9572 13.5136 13.9861C13.5136 13.015 12.7583 12.2219 11.8335 12.2219H3.97263C3.49173 12.2219 3.10331 11.8108 3.10331 11.3091V10.1243C3.35609 10.2797 3.65511 10.3703 3.97263 10.3703ZM6.04419 13.9828C6.04419 14.4749 5.66194 14.873 5.19645 14.873C4.73097 14.873 4.34871 14.4716 4.34871 13.9828C4.34871 13.4941 4.73097 13.0927 5.19645 13.0927C5.66194 13.0927 6.04419 13.4908 6.04419 13.9828ZM12.6843 13.9828C12.6843 14.4749 12.3021 14.873 11.8366 14.873C11.3711 14.873 10.9888 14.4716 10.9888 13.9828C10.9888 13.4941 11.3711 13.0927 11.8366 13.0927C12.3021 13.0927 12.6843 13.4908 12.6843 13.9828ZM12.2373 9.49635H3.97263C3.49173 9.49635 3.10331 9.08526 3.10331 8.58352V6.43091V4.02258V3.86073L13.1066 5.30767V8.58028C13.1066 9.08849 12.7151 9.49635 12.2373 9.49635Z"
                fill="#111111"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="deals--right">
        <div class="deals--right_header">
          <h2 class="deals-title">Feature Dishes</h2>

          <ul class="deals--right_btn-list list">
            <li class="deals--right_btn-list-item">
              <button class="deals--right_btn">All</button>
            </li>
            <li class="deals--right_btn-list-item">
              <button class="deals--right_btn">Burgers</button>
            </li>
            <li class="deals--right_btn-list-item">
              <button class="deals--right_btn">Salad</button>
            </li>
            <li class="deals--right_btn-list-item">
              <button class="deals--right_btn">Sandwich</button>
            </li>
            <li class="deals--right_btn-list-item">
              <button class="deals--right_btn">Fries</button>
            </li>
          </ul>
        </div>

        <ul class="deals--right_card-list list">
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>

          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>

          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
          <li class="deals--right_card-item">
            <div class="deals--right_img"></div>
            <div>
              <h3 class="deals--right-title">Exotic delicious</h3>
              <p class="deals--right-price">22 $</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="categories container">
      <h3 class="categories_title">Shop By Categories</h3>
      <ul class="categories_list list">
        <li class="categories_item">
          <div class="categories_img">
            <button class="categories_btn">
              Spageti<span class="categories_btn--items">(200 items)</span>
            </button>
          </div>
        </li>
        <li class="categories_item">
          <div class="categories_img">
            <button class="categories_btn">
              Pizza<span class="categories_btn--items">(200 items)</span>
            </button>
          </div>
        </li>
        <li class="categories_item">
          <div class="categories_img">
            <button class="categories_btn">
              Fries
              <span class="categories_btn--items">(200 items)</span>
            </button>
          </div>
        </li>
        <li class="categories_item">
          <div class="categories_img">
            <button class="categories_btn">
              Burgers
              <span class="categories_btn--items">(200 items)</span>
            </button>
          </div>
        </li>
      </ul>
    </section>

    <section class="best-seller container">
      <div class="best-seller_header">
        <h3 class="best-seller_title">Best Seller</h3>
        <ul class="best-seller_btn-list list">
          <li class="best-seller_btn-list-item">
            <button class="best-seller_btn">All</button>
          </li>
          <li class="best-seller_btn-list-item">
            <button class="best-seller_btn">Burger</button>
          </li>
          <li class="best-seller_btn-list-item">
            <button class="best-seller_btn">Pizza</button>
          </li>
          <li class="best-seller_btn-list-item">
            <button class="best-seller_btn">Sandwich</button>
          </li>
          <li class="best-seller_btn-list-item">
            <button class="best-seller_btn">Salad</button>
          </li>
        </ul>
      </div>

      <ul class="best-seller_card-list list">
        <li class="best-seller_card-item">
          <div class="best-seller_img"></div>
          <h3 class="best-seller_card-title">Exotic Delicious</h3>
          <p class="best-seller_card-price">15$</p>
        </li>
        <li class="best-seller_card-item">
          <div class="best-seller_img"></div>
          <h3 class="best-seller_card-title">Exotic Delicious</h3>
          <p class="best-seller_card-price">15$</p>
        </li>
        <li class="best-seller_card-item">
          <div class="best-seller_img"></div>
          <h3 class="best-seller_card-title">Exotic Delicious</h3>
          <p class="best-seller_card-price">15$</p>
        </li>
        <li class="best-seller_card-item">
          <div class="best-seller_img"></div>
          <h3 class="best-seller_card-title">Exotic Delicious</h3>
          <p class="best-seller_card-price">15$</p>
        </li>
        <li class="best-seller_card-item">
          <div class="best-seller_img"></div>
          <h3 class="best-seller_card-title">Exotic Delicious</h3>
          <p class="best-seller_card-price">15$</p>
        </li>
      </ul>
    </section>

    <section class="reviews container">
      <h3 class="reviews_title">What people say?</h3>

      <div class="owl-carousel owl-theme">
        <div class="reviews_item">
          <p class="reviews_text">
            “Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
        <div class="reviews_item">
          <p class="reviews_text">
            “Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
        <div class="reviews_item">
          <p class="reviews_text">
            “Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
      </div>
    </section>

    <section class="container news">
      <h2 class="news_title">Latest News</h2>
      <ul class="news_cards-list list">
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">Heirloom Bean and Mushroom “Carnitas” Casserole</h3>
          <p class="news_card-date">
            <svg class="news_card-icon" width="16" height="16">
              <path
                d="M14.2085 2.02038H13.5054V0.856934H12.3336V2.02038H4.59948V0.856934H3.42764V2.02038H2.72455C1.75532 2.02038 0.966797 2.80326 0.966797 3.76554V14.0039C0.966797 14.9661 1.75532 15.749 2.72455 15.749H14.2085C15.1777 15.749 15.9662 14.9661 15.9662 14.0039V3.76554C15.9662 2.80326 15.1777 2.02038 14.2085 2.02038ZM14.7944 14.0039C14.7944 14.3246 14.5316 14.5856 14.2085 14.5856H2.72455C2.40147 14.5856 2.13863 14.3246 2.13863 14.0039V6.32512H14.7944V14.0039ZM14.7944 5.16168H2.13863V3.76554C2.13863 3.44478 2.40147 3.18382 2.72455 3.18382H3.42764V4.34727H4.59948V3.18382H12.3336V4.34727H13.5054V3.18382H14.2085C14.5316 3.18382 14.7944 3.44478 14.7944 3.76554V5.16168Z"
                fill="#888888"
              ></path>
            </svg>
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            <svg class="news_card-icon" width="16" height="16">
              <path
                d="M14.2085 2.02038H13.5054V0.856934H12.3336V2.02038H4.59948V0.856934H3.42764V2.02038H2.72455C1.75532 2.02038 0.966797 2.80326 0.966797 3.76554V14.0039C0.966797 14.9661 1.75532 15.749 2.72455 15.749H14.2085C15.1777 15.749 15.9662 14.9661 15.9662 14.0039V3.76554C15.9662 2.80326 15.1777 2.02038 14.2085 2.02038ZM14.7944 14.0039C14.7944 14.3246 14.5316 14.5856 14.2085 14.5856H2.72455C2.40147 14.5856 2.13863 14.3246 2.13863 14.0039V6.32512H14.7944V14.0039ZM14.7944 5.16168H2.13863V3.76554C2.13863 3.44478 2.40147 3.18382 2.72455 3.18382H3.42764V4.34727H4.59948V3.18382H12.3336V4.34727H13.5054V3.18382H14.2085C14.5316 3.18382 14.7944 3.44478 14.7944 3.76554V5.16168Z"
                fill="#888888"
              ></path>
            </svg>
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            <svg class="news_card-icon" width="16" height="16">
              <path
                d="M14.2085 2.02038H13.5054V0.856934H12.3336V2.02038H4.59948V0.856934H3.42764V2.02038H2.72455C1.75532 2.02038 0.966797 2.80326 0.966797 3.76554V14.0039C0.966797 14.9661 1.75532 15.749 2.72455 15.749H14.2085C15.1777 15.749 15.9662 14.9661 15.9662 14.0039V3.76554C15.9662 2.80326 15.1777 2.02038 14.2085 2.02038ZM14.7944 14.0039C14.7944 14.3246 14.5316 14.5856 14.2085 14.5856H2.72455C2.40147 14.5856 2.13863 14.3246 2.13863 14.0039V6.32512H14.7944V14.0039ZM14.7944 5.16168H2.13863V3.76554C2.13863 3.44478 2.40147 3.18382 2.72455 3.18382H3.42764V4.34727H4.59948V3.18382H12.3336V4.34727H13.5054V3.18382H14.2085C14.5316 3.18382 14.7944 3.44478 14.7944 3.76554V5.16168Z"
                fill="#888888"
              ></path>
            </svg>
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            <svg class="news_card-icon" width="16" height="16">
              <path
                d="M14.2085 2.02038H13.5054V0.856934H12.3336V2.02038H4.59948V0.856934H3.42764V2.02038H2.72455C1.75532 2.02038 0.966797 2.80326 0.966797 3.76554V14.0039C0.966797 14.9661 1.75532 15.749 2.72455 15.749H14.2085C15.1777 15.749 15.9662 14.9661 15.9662 14.0039V3.76554C15.9662 2.80326 15.1777 2.02038 14.2085 2.02038ZM14.7944 14.0039C14.7944 14.3246 14.5316 14.5856 14.2085 14.5856H2.72455C2.40147 14.5856 2.13863 14.3246 2.13863 14.0039V6.32512H14.7944V14.0039ZM14.7944 5.16168H2.13863V3.76554C2.13863 3.44478 2.40147 3.18382 2.72455 3.18382H3.42764V4.34727H4.59948V3.18382H12.3336V4.34727H13.5054V3.18382H14.2085C14.5316 3.18382 14.7944 3.44478 14.7944 3.76554V5.16168Z"
                fill="#888888"
              ></path>
            </svg>
            jan 23
          </p>
        </li>
      </ul>
    </section>

{{>footer}}

{{>rights}}
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./bundle.js"></script>

  </body>
</html>