<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />

    <title>CraftStudio</title>
  </head>
  <body>
    {{>header}}
    {{>navigation}}
    <h2 class="container order_title">Your order</h2>
    <section style="display: flex; justify-content:space-between" class="order container">
      <div>
      <p class="order_products">products</p>
      <ul class="order-list list"></ul>
      
      </div>

      <form id="order-form" style="justify-self: left;" class="order-form">
       <div style="display: flex; flex-direction:column;">
       <p class="order_form-title">fill up the form</p>
      <label for="address">
        <input
        class="order_input" 
        required 
        type="text" 
        placeholder="address" 
        id="address">
      </label> 

      <label for="email">
        <input 
        class="order_input"
        required
        type="email"
        placeholder="email" 
        id="email">
      </label> 

    <label for="phone">
        <input 
        class="order_input"
        required
        autocomplete="off"
        placeholder="phone"
        type="text"
        id="phone">
      </label> 

    <p class="order_form-title">choose your type of payment</p>
    <select style="width: 200px; margin-bottom: 20px" required class="minimal" name="paymentMethod" id="paymentMethod">
    <option value="cash">cash</option>
    <option value="card">card</option>
    </select>
    <button class="order_submit-btn">SUBMIT</button>
    </div>  
    </form>
      
     </section>
    {{>footer}}
    {{>rights}}
    <script src="./js/orders.js" ></script>
  </body>
</html>