.contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $color-pink;

  &-item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-text {
    padding: 5px;
    margin-right: 20px;
  }
  &-list {
    display: none;
  }
}

.socials {
  &-item:not(:last-child) {
    margin-right: 10px;
  }
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    height: 20px;
    & .icon {
      margin-right: 5px;
    }
  }
}

.search {
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #dddddd;
  min-width: 300px;
  &::placeholder {
    line-height: 22px;
    color: #888888;
  }
  &-section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &_icon {
    display: none;
  }

  &_btn {
    border: none;
    background-color: unset;
    font-family: inherit;
    transition: all 250ms linear;
    fill: #111111;
    &:hover,
    &:focus {
      fill: #f6ae13;
      color: #f6ae13;
    }
  }

  &_user-menu {
    display: flex;
    margin-top: 20px;
    align-content: center;
  }

  &_auth-icon {
    margin-left: 5px;
  }
}

.navigation {
  background-color: $color-green;
  &_menu-icon {
    margin-right: 10px;
  }
  &_link {
    display: flex;
    color: #2c332c;
    transition: all 250ms linear;
    &:hover {
      color: #88b13e;
    }
  }

  &_menu-icon {
    transition: fill 250ms linear;
  }
  &_link:hover &_menu-icon {
    fill: #88b13e;
  }
  &_burger-icon {
    fill: #ffffff;
    margin-right: 10px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    font-size: small;
    font-weight: bold;
    display: flex;
    color: #fff;
    padding: 5px;
    transition: all 250ms linear;
    &:hover {
      background-color: #ffffff;
      color: #2c332c;
    }
  }

  &_menu-item {
    width: 250px;
    transition: all 250ms linear;
  }
  &_menu-item span {
    margin-right: 10px;
    margin-top: 3px;
  }

  &_menu-item:hover,
  &_menu-item:focus {
    background-color: #ffffff;
    fill: #2c332c;
    color: #2c332c;
    position: relative;
  }
  &_menu-item:hover &_burger-icon {
    fill: #2c332c;
  }

  &_menu-item:hover &_menu,
  &_menu-item:focus &_menu {
    padding: 10px;
    display: block;
    position: absolute;
    top: 40px;
    background-color: #fff;
    z-index: 2;
    &-item {
      padding: 10px 25px;
    }
  }
  &_menu {
    display: none;
  }
  &_menu-span {
    display: none;
  }
}

.hero {
  background-color: #f5f5f5;
  margin-top: 20px;
  padding-bottom: 20px;
  &-title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 25px;
  }
  display: flex;
  justify-content: space-around;
  &-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &-sub {
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.carousel {
  max-width: 400px;
  margin-right: 5px;
  &-item {
    max-width: 390px;
    padding-left: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    &1 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/homepage/carousel/salad1.jpg");
    }
    &2 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/homepage/carousel/salad3.jpg");
    }
    &3 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/homepage/carousel/salad2.jpg");
    }
    &_btn {
      background: #f6ae13;
      text-transform: uppercase;
      border: none;
      font-family: inherit;
      padding: 10px 20px;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 0.1em;
      margin-top: 25px;
    }
  }
}

.pinned {
  display: none;
}

.advantages {
  font-size: small;
  padding-bottom: 30px;
  background: #f5f5f5;
  &-list {
    background-color: #ffffff;
    border: 1px solid #ececec;
  }
  &-item {
    padding: 30px;
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  &-text {
    font-weight: bold;
    margin-left: 20px;
  }
  &-sub {
    font-size: 12px;
    line-height: 24px;
  }
}

.new-dishes {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #ffffff;
  &_cart-list {
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 5%;
    transition: all 250ms linear;
  }
  &_cart-btn {
    background-color: $color-green;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    fill: #fff;
    border: none;
    padding: 10px;
    display: flex;
    align-content: center;
    transition: all 250ms linear;
    &:hover {
      cursor: pointer;
    }
    &-add {
      margin-left: 5px;
    }
  }
  &_cart-item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &_title {
    text-align: center;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
  }
  &_btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #111111;
    padding: 3px 10px;
    background: #ffffff;
    border: 1px solid #dddddd;
    &-list {
      &-item:not(:last-child) {
        margin-right: 10px;
      }
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

  &_card {
    &-title {
      margin: 10px;
      text-align: center;
    }
    &-price {
      margin: 10px;
      text-align: center;
    }
    &-item {
      box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.2);
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-list {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-picture {
      position: relative;
      width: 100%;
      height: 400px;
      background-color: lightcoral;
    }
  }
  &_cart {
    color: unset;
    transition: all 250ms linear;
    &:hover {
      color: #88b13e;
    }
    &:hover &-list,
    &:focus &-list {
      opacity: unset;
    }
  }
}

.deals {
  margin-bottom: 50px;
  &-title {
    font-family: $secondary-font;
    margin-bottom: 10px;
  }
  &--left {
    padding: 10px;
    border: 2px solid #fda72f;
    position: relative;
    &_card--down {
      display: flex;
      justify-content: space-between;
    }
    &_card-icon {
      margin-top: 15px;
      background-color: #f2f2f2;
      border-radius: 50%;
      padding: 15px;
      overflow: unset;
    }
    &_card-img {
      width: 100%;
      height: 300px;
      background-color: #f6ae13;
    }
    &_card-timer {
      background-color: #88b13e;
      position: absolute;
      bottom: 70px;
      left: 50px;
      right: 50px;
      text-align: center;
      font-weight: 600;
      line-height: 25px;
      color: #ffffff;
      font-family: inherit;
    }
    &_card-title {
      font-weight: normal;
      margin-top: 15px;
    }
    &_card-price {
      margin-top: 5px;
      font-weight: bold;
    }
  }
  &--right {
    margin-top: 30px;
    margin-left: 20px;
    grid-template-columns: 1fr 50px 1fr 1fr;
    &_card-list {
      flex-wrap: wrap;
    }
    &_card-item {
      flex-basis: calc(100% / 3 - 30px);
      display: flex;
      margin-top: 20px;
      background: #ffffff;
      border: 1px solid #ececec;
    }
    &_img {
      background-color: #88b13e;
      width: 100px;
      height: 100px;
    }
    &_btn-list {
      display: flex;
      justify-content: space-around;
      margin-left: 20vw;
      &-item:not(:last-child) {
        margin-right: 10px;
      }
    }
    &_btn {
      border: none;
      font-family: inherit;
      background: none;
    }
    &-title {
      font-size: 15px;
      margin: 10px;
    }
    &-price {
      margin: 10px;
    }
  }
}

.categories {
  background-color: #fceee7;
  &_btn {
    position: absolute;
    top: 300px;
    left: 15px;
    right: 10px;
    background: #ffffff;
    border: none;
    padding: 10px 30px;
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #111111;
    &--items {
      font-family: $main-font;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #888888;
    }
  }
  &_title {
    font-family: $secondary-font;
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
  &_item {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  &_img {
    position: relative;
    width: 100%;
    height: 370px;
    background-color: rgb(80, 117, 150);
  }
}

.best-seller {
  &_title {
    font-family: $secondary-font;
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
  &_btn {
    background: none;
    border: none;
    font-family: inherit;
  }
  &_btn-list {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
  &_img {
    height: 180px;
    width: 100%;
    background-color: lemonchiffon;
  }
  &_card-title {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
  }
  &_card-price {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
}

.reviews {
  background: #f5f5f5;
  &_item {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    margin-bottom: 50px;
  }
  &_title {
    font-family: $secondary-font;
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
  &_text {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 450px;
  }
  &_author {
    text-align: center;
    font-family: $secondary-font;
    font-size: 22px;
    padding-bottom: 20px;
  }
}

.news {
  &_title {
    font-family: $secondary-font;
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  &_card {
    &-item {
      padding: 10px;
    }
    &-icon {
      margin-right: 5px;
    }
    &-date {
      font-size: 11px;
      color: #888888;
      margin-bottom: 20px;
    }
    &-title {
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 25px;
    }
    &-sub-title {
      margin-top: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #88b13e;
    }
    &-img {
      background-color: wheat;
      width: 100%;
      height: 140px;
    }
  }
}

.footer {
  background-color: #f5f5f5;
  padding-bottom: 50px;
  &--up {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 0.2px #11111156 solid;
    &_form-btn {
      font-family: inherit;
      color: #fff;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      background: #88b13e;
      border: none;
      margin-top: 20px;
      padding: 10px 20px;
      transition: all 250ms linear;
      &:hover {
        background: #f6ae13;
      }
    }
    &_form-input {
      margin-top: 30px;
      border: 1px solid #ffffff;
      fill: #fff;
      padding: 10px 20px;
      margin-right: 20px;
    }
    &_title {
      font-family: $secondary-font;
    }
    &_subs {
      margin-right: 10px;
      display: flex;
      &-icon {
        padding: 20px;
        margin-right: 20px;
        background-color: #fff;
        border-radius: 50%;
        overflow: unset;
      }
    }
    &_call-us {
      margin-right: 10px;
      display: flex;
      &-icon {
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        background-color: #fff;
        border-radius: 50%;
        overflow: unset;
      }
    }
  }
  &--down {
    margin-top: 30px;
    padding: 10px;
    &_title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 25px;
    }
    &_item {
      font-size: 15px;
      line-height: 32px;
      color: #888888;
    }
    &_list-container {
      &:not(:last-child) {
        margin-right: 70px;
      }
    }
    &_logo {
      margin-right: 50px;
      margin-bottom: 30px;
      & img {
        margin-bottom: 20px;
      }
    }
  }
}

.rights {
  color: #fff;
  background-color: #2c332c;
  &-text {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    &-list {
      display: flex;
    }
  }
  .search {
    margin-top: unset;
    min-width: 150px;
    &-section {
      display: flex;
      justify-content: space-between;
    }
    &_user-menu {
      margin-top: unset;
    }
  }

  .navigation {
    &-item {
      padding: 15px 20px;
      font-size: unset;
    }
    &_link {
      padding-bottom: 20px;
    }
    &_menu-item:hover &_menu {
      width: 100%;
      top: 60px;
      left: 0px;
    }
    &_menu-span {
      display: unset;
    }
  }

  .carousel {
    max-width: 600px;
    &-item {
      max-width: 590px;
    }
  }

  .advantages {
    &-list {
      flex-wrap: wrap;
    }
  }

  .new-dishes {
    &_card-list {
      display: flex;
      justify-content: space-between;
    }
    &_card-picture {
      height: 180px;
    }
  }

  .deals {
    &--right {
      &_header {
        display: flex;
        justify-content: space-between;
      }
      &_card-list {
        display: flex;
      }
      &_img {
        height: 100%;
      }
    }
  }
  .footer {
    &--up {
      display: flex;
    }
  }
}

@media screen and (min-width: 1200px) {
  .search {
    min-width: 500px;
    &_icon {
      display: block;
      position: absolute;
      right: 530px;
      top: 30px;
    }
  }
  .carousel {
    max-width: 700px;
    &-item {
      max-width: 690px;
    }
  }

  .pinned {
    display: unset;
    &-title {
      font-family: $secondary-font;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-btn {
      border: none;
      background: none;
      text-decoration: underline;
      text-decoration-color: #f6ae13;
      color: #ffffff;
      font-family: inherit;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
    }
    &-sub {
      font-size: 15px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 40px;
    }
    &-item {
      min-width: 450px;
      min-height: 184px;
      padding: 20px;
      color: #fff;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &1 {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../img/homepage/ice-cream.jpg");
        margin-bottom: 10px;
      }
      &2 {
        min-height: 183px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../img/homepage/citrus.jpg");
      }
    }
  }

  .advantages {
    &-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .new-dishes {
    &_cart-list {
      left: 20%;
    }
    &_card-list {
      display: flex;
    }
    &_card-item {
      min-width: 200px;
    }
    &_card-picture {
      height: 200px;
    }
  }

  .deals {
    display: flex;
    &--left {
      &_card-img {
        height: 250px;
        width: 250px;
      }
      &_card-timer {
        bottom: 85px;
      }
    }
    &--right {
      margin-top: unset;
    }
  }

  .categories {
    &_list {
      display: flex;
      justify-content: space-between;
    }
    &_img {
      width: 230px;
    }
  }

  .best-seller {
    &_card-list {
      display: flex;
      justify-content: space-between;
    }
    &_header {
      display: flex;
      justify-content: space-between;
    }
    &_card-title {
      font-size: 12px;
    }
    &_btn-list {
      padding-top: 50px;
      padding-bottom: unset;
    }
    &_img {
      width: 180px;
    }
  }

  .news {
    &_card-img {
      width: 240px;
    }
    &_cards-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer {
    &--up {
      display: flex;
      justify-content: space-between;
      &_form-input {
        margin-top: unset;
      }
    }
    &--down {
      display: flex;
      &_logo {
        margin-bottom: unset;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .new-dishes {
    &_card-item {
      min-width: 250px;
    }
  }
  .categories {
    &_img {
      min-width: 300px;
    }
  }
  .best-seller {
    &_img {
      min-width: 250px;
    }
  }
}
