.order-list {
  &_item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &_title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  &_cat {
    margin-left: 5px;
    color: $color-green;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
  }
  &_price {
    margin-left: 5px;
  }
  &_delete-btn {
    background: none;
    font-weight: 800;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 110px;
    color: red;
  }
}

.order {
  margin-bottom: 20px;
  &_input {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &_title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &_products {
    margin-bottom: 10px;
  }
  &_form-title {
    margin-bottom: 10px;
  }
  &_submit-btn {
    display: block;
    color: #fff;
    font-weight: 700;
    background-color: $color-green;
    padding: 10px 17px;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.2em;
    border: none;
    transition: background-color 250ms linear;
    &:hover {
      background-color: #f6ae13;
    }
  }
}
