.products {
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &_item {
    margin-top: 20px;
  }
  &_link {
    display: block;
    padding: 10px;
    transition: box-shadow 250ms linear;
    &:hover,
    &:focus {
      box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.2);
    }
  }
  &_title {
    text-align: center;
  }
  &_price {
    text-align: center;
    font-weight: bold;
    margin-top: 7px;
  }
  &_category {
    text-align: center;
    color: $color-green;
    font-weight: bold;
  }
  &_sale {
    text-align: center;
    color: #e32d2d;
    font-weight: bold;
  }
}
