.deals {
  margin-bottom: 50px;
  &-title {
    font-family: $secondary-font;
    margin-bottom: 10px;
  }
  &--left {
    height: fit-content;
    padding: 10px;
    border: 2px solid #fda72f;
    position: relative;
    &_sale {
      position: absolute;
      top: 5px;
      right: 0;
      color: red;
      padding: 10px;
      font-weight: bold;
    }
    &_card--down {
      display: flex;
      justify-content: space-between;
    }
    &_card-icon {
      margin-top: 15px;
      background-color: #f2f2f2;
      border-radius: 50%;
      padding: 15px;
      overflow: unset;
    }
    &_card-img {
      width: 100%;
      height: 300px;
      background-color: #f6ae13;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &_card-title {
      align-items: center;
      align-content: center;
      font-weight: normal;
      margin-top: 15px;
    }
    &_card-price {
      margin-left: 5px;
      margin-top: 5px;
      font-weight: bold;
    }
  }

  &--right {
    margin-top: 30px;
    &_card-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 50px;
    }
    &_card-link:hover &-title {
      display: block;
      color: #f6ae13;
    }
    &_card-item {
      display: block;
      background: #ffffff;
      border: 1px solid #ececec;
    }
    &_img {
      background-size: cover;
      height: 100px;
    }
    &-title {
      max-width: 130px;
      font-size: 15px;
      margin: 10px;
      transition: color linear 250ms;
    }
    &-price {
      margin: 10px;
    }
    &-sale {
      padding: 5px;
      background-color: red;
      color: #fff;
      position: absolute;
      top: 5px;
      right: 5px;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .deals {
    &--right {
      &_card-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .deals {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    &--left {
      &_card-img {
        min-width: 300px;
      }
    }
    &--right {
      margin-left: 20px;

      &_card-list {
        grid-template-columns: repeat(5, 1fr);
      }
      &_card-item {
        max-width: 130px;
        height: fit-content;
        box-sizing: border-box;
      }
    }
  }
}
