.hero-title {
  font-family: Lobster, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
}

.socials-list {
  display: flex;
}
.socials-item {
  height: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}
