body {
  font-family: $main-font;
  color: rgb(59, 53, 45);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: unset;
}

.list {
  list-style: none;
}
